html{
    min-height: 100%;
}
body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    
}
form{
    padding:20px;
    padding-top: 60px;
}
form button, form h5{
    margin:20px 0;
}
h5{
    color: blue;
}
/* #ji{
    background-color: green;
} */